{
  "env": {
	"production": {
	  "presets": [["env", {"modules": false}]],
	  "plugins": ["transform-object-rest-spread", "lodash"],
	  "comments": false
	},
	"development": {
	  "presets": [["env", {"modules": false}]],
	  "plugins": ["transform-object-rest-spread"],
	  "comments": true
	}
  }
}
